{% extends "todolist/base_todolist.html" %}
{% load static %}


{% block table %}

    <table>
        <tr>
            <th>Номер</th>
            <th>Сайт</th>
            <th>Когда позвонить</th>
            <th>Комментарий</th>
            <th>Статус</th>
        </tr>
        {% for publisher in object_list %}
        <tr>
            <td>
                <a href="{% url 'todolist:detail' pk=publisher.id %}">{{ publisher.number }}</a>
            </td>
            
            <td>{{ publisher.site }}</td>
            
            <td>{{ publisher.datatime }}</td>
            
            <td>{{ publisher.comment }}</td>
            <td class="d-flex justify-content-between">
            {% if publisher.is_complete == False %}
                <a class="btn btn-danger btn-sm" href="{% url 'todolist:update' pk=publisher.id %}">Не завершено</a>
            {% else %}
                <a class="btn btn-success btn-sm" href="{% url 'todolist:update' pk=publisher.id %}">Выполнено</a>
            {% endif %}
                <a class="close" href="{% url 'todolist:delete' pk=publisher.id %}">
                    <span aria-hidden="true" style="color:red">×</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
